/* 首先设置背景和字体颜色下划线等 */
html, a{
    color: white;
    text-decoration: none;
}
html{
    background-color: #494a5f;
}
.html_img_txt h1{
    font-size: 120%;
    font-weight: 1000;
    padding: 0.2em 0;
}

/* 设置header部分样式 */
.html_header{
    text-align: center;
    font-size: 2.5em;
    font-weight: 1000;
    padding-top: 0.3em;
}
.html_header p{
    font-size: 60%;
    font-weight: 400;
    padding-top: 0.4em;
}

/* 设置main部分样式 */
.html_main{
    display: flex;
    position: absolute;
    top: 0; left: 0;
    height:100%;
    width: 150%;
    margin: 0 25%;
}
.html_main_a{
    display: flex;
    align-items: center;
    z-index: 2;
}
.html_main_img{
    position: relative;
    width: 100%;
    z-index: 1;
}
.html_main_a_temp{
    position: relative;
    max-width: 90%;
}

/* 文本交互 */
.html_img_txt{
    transform: translateY(-2.6em) translateX(1em);
    transition: 0.5s;
    border-left: 1px solid white;
    padding: 0 1em;
    opacity: 0;
}
.html_main_a:hover .html_img_txt{
    opacity: 1;
    transform:translateY(-0.1em) translateX(1em);  
}

/* 背景图片交互 */
.html_backgrand{
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.5s;
}
.html_backgrand img{
    width:100%;
    height:100%;
}
.html_main_a:hover + .html_backgrand{
    opacity: 0.5;
}
